@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Playfair+Display:ital,wght@0,400;1,500&display=swap');

body{

    font-family: 'Playfair Display', serif;
}
.container{
    text-align: center;
    color: rgb(58, 30, 101);
    width: 100%;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    display: block;
    padding: 7px;
    background-color: rgb(36, 41, 45);
    color: #baded0;
    text-decoration: none;
    border-radius: 5px;
   margin: 7px; 
}
.abc{
    width: 100%;
    min-height: 40vh;
    background: #1a2a13;


}
.second{
    background-image: url(https://firtka.if.ua/media/cache/blog_thumb/data/blog/266413/16e900eed9b4b6fc7b1e706200e7a013.jpeg);
    height: 1200px;
    flex-direction: row;
    gap: 35px;
}
.item{
    display: flex;
    flex-direction: column;
    background-color: aliceblue ;
    max-width: 320px;
    align-items: center;
    border-radius: 7px;
}
.img{
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: 5px;
}
.img-first{
    background-image: url(https://hotline.ua/img/uploads/clients/960=63b2c6aeaab29.jpg);
}
.img-second{
    background-image: url(https://st2.depositphotos.com/1333145/6081/i/450/depositphotos_60813355-stock-photo-snowboarder-jumping.jpg);
}
.img-third{
    background-image: url(https://krasna.com.ua/storage/imgonline-com-ua-Compressed-KjLOZux63uRYJoKt.jpg);
}